*.dylib filter=lfs diff=lfs merge=lfs -text
Combine.framework/Versions/A/Combine filter=lfs diff=lfs merge=lfs -text
CryptoKit.framework/Versions/A/CryptoKit filter=lfs diff=lfs merge=lfs -text
GroupActivities.framework/Versions/A/GroupActivities filter=lfs diff=lfs merge=lfs -text
